CommuniCare/CommuniCare/CommuniCare/obj/CommuniCare.csproj.nuget.dgspec.json
CommuniCare/CommuniCare/CommuniCare/obj/CommuniCare.csproj.nuget.g.props
CommuniCare/CommuniCare/CommuniCare/obj/project.assets.json
CommuniCare/CommuniCare/CommuniCare/obj/project.nuget.cache
CommuniCare/CommuniCare/CommuniCare/obj/Debug/net8.0/CommuniCare.AssemblyInfo.cs
CommuniCare/CommuniCare/CommuniCare/obj/Debug/net8.0/CommuniCare.AssemblyInfoInputs.cache
CommuniCare/CommuniCare/CommuniCare/obj/Debug/net8.0/CommuniCare.assets.cache
CommuniCare/CommuniCare/CommuniCare/obj/Debug/net8.0/CommuniCare.csproj.AssemblyReference.cache
CommuniCare/CommuniCare/CommuniCare/obj/Debug/net8.0/CommuniCare.GeneratedMSBuildEditorConfig.editorconfig
